.page {
  width: 100%;
  font-family: Arial;
  background-color: #fff;
}
.page-container {
  max-width: 1810px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
  outline: 1px solid red;
}
.header {
  padding: 0 115px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  display: inline-block;
}
.social__item:nth-child(1),
.social__item:nth-child(2) {
  margin-right: 20px;
}
.social__item:nth-child(3) {
  margin-right: 15px;
}
.tel {
  height: 20px;
}
.tel__item {
  display: inline-block;
  color: #fff;
}
.tel__item:first-child {
  margin-right: 15px;
}
.tel__item .tel__icon {
  color: #84bce0;
}
.plugin-and-cart__link {
  display: inline-block;
}
.plugin-and-cart__link:first-child {
  margin-right: 50px;
}
.logo {
  height: 120px;
  padding-top: 20px;
  border-bottom: 1px solid #000;
}
.logo__link {
  display: block;
  width: 405px;
  margin: 0 auto 20px;
}
.main-nav {
  padding-top: 22px;
  padding-bottom: 22px;
}
.main-nav__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.main-nav__item {
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #000;
}
.main-nav__item:first-child {
  border-left: none;
}
.main-nav__link, .main-nav__sub {
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
}
.main-nav__submenu {
  display: none;
  margin: 0;
  margin-left: -10px;
  padding: 10px;
  position: absolute;
  z-index: 5;
  list-style: none;
  background-color: #fff;
}
.arrow-down {
  display: inline-block;
  margin-left: 10px;
}
.main-nav__sub-link {
  color: #000;
}
.catalog__title {
  width: 380px;
  margin: 65px auto 32px;
  font-size: 40px;
  text-transform: uppercase;
}
.catalog__list {
  width: 1810px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.catalog__item {
  width: 430px;
  height: 430px;
  margin: 10px;
  position: relative;
  border: 1px solid #ebebeb;
  white-space:nowrap;
}
.catalog__item:hover {
  box-shadow: 0 0 10px 0 #999;
}
.catalog__item:nth-child(4n+1) {
margin-left: 0;
  padding-top: 40px;
}
.catalog__item:nth-child(4n+2) {

  padding-top: 70px;
}
.catalog__item:nth-child(4n+3) {

  padding-top: 20px;
}
.catalog__item:nth-child(4n+4) {
  padding-top: 20px;
}
.catalog__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.catalog__name {
  display: block;
  position: absolute;
  bottom: 35px;
  z-index: 5;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}
.catalog__title {
  width: 465px;
  font-size: 40px;
}
.carousel-1-item {
  width: 315px;
  height: 475px;
  position: relative;
}
.carousel-1-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 300px;
  z-index: 5;
}
.carousel-1-head {
  width: 75px;
  height: 22px;
  margin-bottom: 15px;
  background-color: #39b54a;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.carousel-1-name {
margin-bottom: 5px;
    font-size: 18px;
  text-transform: uppercase;
  color: #28618f;
}
.carousel-1-price {
  margin-bottom: 10px;
  font-size: 24px;
  color: #000;

}
.carousel-1-buy {
  width: 100px;
  height: 35px;
  margin-bottom: 20px;
  padding-top: 5px;
  background-color: #28618f;
  text-align: center;
  vertical-align: bottom;
}
.carousel-1-buy a {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top:50%;
}
